.psw-reset-containerr {
  display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .reset-form-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .reset-form-title {
    text-align: start;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .reset-form {
    display: flex;
    flex-direction: column;
  }
  
  .btn-password-reset-email {
    background-color: #ff00ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .back-to-login-text{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
.input-password-resett {
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 350px;
  margin-bottom: 20px;
}

  .back-to-login {
    background-color: #fff;
    border: 2px solid #ff00ff;
    border-radius: 20px;
    color: #ff00ff;
    padding: 10px;
    cursor: pointer;
    width: 300px;
  }
  