.Purchase-card-h {
  margin-bottom: 10px;
  font-size: 44px;
  font-weight: bold;
}


.Purchase-card-container {
  display: flex;
  justify-content: space-between;
}

.left-Purchase-card-container {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none;
  margin-right: 20px;
}


.left-Purchase-card-image {
  width: 145px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
}

.left-Purchase-card-content {
  padding: 16px;
}

.left-Purchase-card-title {
  font-size: 24px;
  font-weight: bold;
}

.left-Purchase-card-date {
  color: #ff00ff;
  font-size: 18px;
  font-weight: bold;
}

.left-Purchase-card-location {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.left-Purchase-card-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 16px;
  cursor: pointer;
  width: 128px;
}

.Purchase-total-price {
  font-size: 24px;
  font-weight: bold;
}

.Purchase-total-tickets {
  font-size: 18px;
  font-weight: bold;
  color: #ff00ff;
}

.Purchase-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hr-sc {
  border: 1px solid #9b9a9a;
  opacity: 1;
  margin-bottom: 330px;
}
