.botom-all-events-card-container {
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 16px;
    text-decoration: none;
    justify-content: space-between;
}

.botom-all-events-card-image {
    width: 200px;
    height: 153px;
    border-radius: 20px;
    object-fit: cover;
}

.botom-all-events-card-content {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.botom-all-events-card-title {
    font-size: 24px;
    font-weight: bold;
}

.botom-all-events-card-date {
    color: #ff00ff;
    font-size: 18px;
    font-weight: bold;
}

.botom-all-events-card-location {
    font-size: 14px;
    font-weight: bold;
}

.botom-all-events-card-button {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
}