.psw-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-form-container {
    width: 400px;
  }
  
  .reset-form-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .reset-form-title {
    text-align: start;
    margin-bottom: 20px;
  }
  
  .reset-form {
    display: flex;
    flex-direction: column;
  }
  
  .btn-password-reset-email {
    background-color: #ff00ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .back-to-login-text{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .back-to-login {
    background-color: #fff;
    border: 2px solid #ff00ff;
    border-radius: 20px;
    color: #ff00ff;
    padding: 10px;
    cursor: pointer;
    width: 100%;
  }
  