.psw-reset-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.reset-form-title-first {
  text-align: start;
  margin-bottom: 50px;
  margin-top: 30px
}

.reset-form-title {
  text-align: start;
  margin-bottom: 10px;
}

.input-password-reset {
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

.btn-password-reset-email {
  background-color: #ff00ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
}

.back-to-login-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.back-to-login {
  background-color: #fff;
  border: 2px solid #ff00ff;
  border-radius: 20px;
  color: #ff00ff;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}