.card-parent {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
}

.card-parent .card__left {
  border-radius: 8%;
  max-width: 500px;
  height: 150px !important;
  object-fit: cover;
}

.card-date {
  color: #ff00ff;
  margin-bottom: 10px;
}

.card-bottom_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
}

.black-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/**
* ! card right section
**/

.card__right {
  width: 100%;
}

.card__right--text>.title {
  font-size: 24px;
  font-weight: bold;
}

.card__right--text .card-date {
  font-size: 18px;
}

/**
* ! card bottom section
**/
.card-bottom_section .location {
  font-size: 14px;
}

.card-bottom_section .black-button {
  font-size: 14px;
}

@media (max-width: 768px) {
  .card-parent {
    flex-direction: column;
    gap: 10px;
  }

  .card-bottom_section {
    flex-direction: column;
    gap: 10px;
  }
}