.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container {
    width: 400px;
  }
  
  .signup-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .signup-card-content {
    display: flex;
    flex-direction: column;
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .signup-radio-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signup-input {
    border: 1px solid #ff00ff;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
  }
  
  .signup-button {
    background-color: #ff00ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-button:last-child {
    background-color: #fff;
    border: 2px solid #ff00ff;
    color: #ff00ff;
  }
  
  .signup-button:last-child:hover {
    background-color: #ff00ff;
    color: #fff;
  }
  