.card-all-events-details {
    display: flex;
    flex-direction: column;
    margin: 30px 60px;
}

.navbar-all-events-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.h-b {
    display: flex;
}

.navbar-all-events-details h2 {
    margin-right: auto;
}

.navbar-all-events-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-all-events-details li {
    margin-left: 15px;
}

.navbar-all-events-details a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.all-events-btn {
    background-color: #ff00ff;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    width: 116px;
    height: 32px;
    margin-bottom: 15px;
}

.botom-all-events-card-container {
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 16px;
    text-decoration: none;
    justify-content: space-between;
}


.botom-all-events-card-image {
    width: 200px;
    height: 153px;
    border-radius: 20px;
    object-fit: cover;
}

.botom-all-events-card-content {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.botom-all-events-card-title {
    font-size: 24px;
    font-weight: bold;
}

.botom-all-events-card-date {
    color: #ff00ff;
    font-size: 18px;
    font-weight: bold;
}

.botom-all-events-card-location {
    font-size: 14px;
    font-weight: bold;
}

.botom-all-events-card-button {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
}